

body,
p,
h3 {
    margin: 0px;
    padding: 0;
    font-family: roboto;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #1f2937;
    padding-top: 12px;
    padding-bottom: 100px;
}

.header,
.top-section-body {
    margin-left: 300px;
    margin-right: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.top-section-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.body-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

a,
.secondary-text,
.cta-body,
.footer-text {
    color: #E5E7EB;
    font-size: 18px;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 20px;
    margin: 0px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.ui-image {
    width: 600px;
}

.signup-button {
    color: white;
    background-color: #3882F6;
    border: none;
    font-size: 14px;
    padding: 6px 22px 6px 22px;
    border-radius: 6px;
    font-weight: 600;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.information-section-header {
    margin-top: 0px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    /* background-color: #3882F6;  */
    flex-wrap: wrap;
}

.card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card-text {
    width: 200px;
}

.card-image-container {
    /* background-color: black; */
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    border-color: #3882F6;
    overflow: hidden;
}

.card-text {
    text-align: center;
    margin-top: 12px;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text,
.quote-author-text {
    margin: 0;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding-bottom: 12px;
}

.quote-author-text {
    align-self: flex-end;
}

.cta-container {
    background-color: white;
}

.cta-section {
    background-color: #3882FB;
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 40px;
    width: 800px;
    height: 120px;
    margin: 100px auto 100px auto;
    padding-left: 12px;
    border-radius: 8px;
}

.cta-header {
    color: #E5E7EB;
    margin-bottom: 6px;
}

.cta-body {
    width: 500px;
}

.cta-button {
    color: white;
    background-color: #3882F6;
    border: solid;
    font-size: 14px;
    padding: 10px 22px 10px 22px;
    border-radius: 6px;
    font-weight: 600;
}

footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



